exportPattern("^[^\\.]")
import(Formula, ggplot2, reshape2)
S3method(plot, oaxaca)
S3method(summary, oaxaca)
importFrom("methods", "is")
importFrom("stats", "lm", "model.frame", "model.matrix", "qnorm", "quantile", "sd")
S3method(plot,STR)
S3method(seasadj,STR)
export(AutoSTR)
export(RSTRmodel)
export(STR)
export(STRmodel)
export(components)
export(heuristicSTR)
export(plotBeta)
export(seasadj)
import(Matrix)
import(SparseM)
import(compiler)
import(foreach)
import(forecast)
import(quantreg)
importFrom(grDevices,rainbow)
importFrom(graphics,Axis)
importFrom(graphics,abline)
importFrom(graphics,axis)
importFrom(graphics,filled.contour)
importFrom(graphics,layout)
importFrom(graphics,legend)
importFrom(graphics,lines)
importFrom(graphics,mtext)
importFrom(graphics,par)
importFrom(graphics,plot)
importFrom(graphics,plot.new)
importFrom(graphics,polygon)
importFrom(graphics,title)
importFrom(methods,as)
importFrom(methods,new)
importFrom(stats,"tsp<-")
importFrom(stats,optim)
importFrom(stats,qnorm)
importFrom(stats,quantile)
importFrom(stats,time)
importFrom(stats,ts)
importFrom(stats,tsp)
